<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comics">Truyện</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comics_c">Truyện-chưa duyệt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">Người dùng</a>
                    </li>


                </ul>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-dark my-1 mx-1"><a href="/logout"
                                                                                    style="text-decoration:none">Đăng Xuất</a>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="fs-1" style="width: 100%;text-align: center"><b>Quản lí dự án với Agile-nhóm 5</b></div>

